
.map-container{
    margin-top: 10px;
    background: #e6f7fb;
    border: 1px solid #b3dae2;
    border-radius: 20px;
    margin: 0 25px 10px 25px;
}

#map-id{
    width: 100%;
    height: 70vh;
    border-bottom: 1px solid #b3dae2;
    border-radius: 20px;
}

.map-container footer{
    /*padding: 0;*/
    text-align: center;
}

.map-container footer p{
    font-size: 15pt;
    color: #5fa3b1;
    display: inherit;
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 30px;
}

div.image {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.image img {
    width: 50%;
    object-fit: cover;
    padding-bottom: 20px;
}